%h1
  Welcome to the Administration Panel
%p
  You can access development testing features here.
%table.table
  %th.tableHeader
    Resource
  %th.tableHeader
    Link
  %tr
    %td
      Interview Manager
    %td
      =link_to("Link", "interviews")
  %tr
    %td
      Client Manager
    %td
      =link_to("Link", "clients")