%h1
  Welcome to the Administration Panel
%p
  You can access development testing features here.
%table
  %th
    Resource
  %th
    Link
  %tr
    %td
      Interview
    %td
      =link_to("Link", interviews_path)
  %tr
    %td
      Advertisement
    %td
      =link_to("Link", advertisements_path)
  %tr
    %td
      Visiting List
    %td
      =link_to("Link", visiting_lists_path)
  %tr
    %td
      Subsidiary Agency
    %td
      =link_to("Link", subsidiary_agencies_path)
  %tr
    %td
      Lease
    %td
      =link_to("Link", leases_path)
  %tr
    %td
      Visitation
    %td
      =link_to("Link", visitations_path)
  %tr
    %td
      Financial Institution
    %td
      =link_to("Link", financial_institutions_path)
  %tr
    %td
      User
    %td
      =link_to("Link", users_path)
  %tr
    %td
      Property
    %td
      =link_to("Link", properties_path)
