%h1
  Welcome to the Administration Panel
%p
  You can access development testing features here.
%table.table
  %th.tableHeader
    Resource
  %th.tableHeader
    Link
  %tr
    %td
      Interview Manager
    %td
      =link_to("Link", interviews_path)
  %tr
    %td
      Advertisement
    %td
      =link_to("Link", advertisements_path)
  %tr
    %td
      Visiting List
    %td
      =link_to("Link", visiting_lists_path)
  %tr
    %td
      Subsidiary Agency
    %td
      =link_to("Link", subsidiary_agencies_path)
  %tr
    %td
      Lease
    %td
      =link_to("Link", leases_path)
  %tr
    %td
      Client Manager
    %td
      =link_to("Link", "clients_path, todo!")
