%h1
  Online Property Rental System
%p
  Welcome to the first in Houses of Dreams' new line of software products, Online Property Rental System. Houses of Dreams
  is proud to present this new robust solution to the property management problem. Please select one of the options from
  he left menu to begin your property management experience.
