body{
  padding-top: 138px;
  font-family: Helvetica, Arial, sans-serif;
}

/* -- HEADER -- */
.header{
  position: absolute;
  top:0;
  left:0;
  background-color: #ffffff;
  padding: 5px;
  margin: 0px 0px 10px 0px;
  width: 100%;
  display: inline-block;

  .headerText{
    float: left;
    padding-top: 46px;
    font-weight: bold;
    font-size: 40px;
    color: black;
  }

  .headerLogo{
    float: left;
  }

}

/* -- MENU -- */
.menu{
  float: left;
  background-color: #ece3a5;
  padding: 10px;
  width: 200px;
  .menuTitle{
    text-align: center;
    font-weight: bolder;
    display:block;
  }

  .menuButton{
    width: 100%;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #267e01;
    text-decoration: none;
    padding-left: 1px;
    padding-right: 1px;
    display: block;
    text-align: center;
    margin: 0px 0px 2px 0px;

    &:hover {
      background-color: darkgreen;
    }
  }
}

/* -- CONTENT -- */
.content{
  float: left;
  width: 74%;
  margin-left: 20px;
}

table{
  border: 1px solid #015F47;
  border-collapse: collapse;
  th{
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: #015F47;
    &:empty{
      border-right: none;
    }
  }
  td{
    padding-left: 6px;
    padding-right: 6px;
  }
}