.menu
  .menuTitle Menu
  %div
    =link_to("Administration", "administration", class:"menuButton")
  %div
    =link_to("Browse Properties", "", class:"menuButton")
  %div
    =link_to("Buy Properties", "", class:"menuButton")